SECRET_KEY=

DEBUG=

#Database configs
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

TG_BOT_TOKEN=
TG_URL=
TG_CHAT_ID=
CELERY_RESULT_BACKEND=
CELERY_BROKER_URL=